.wrapper {
  box-sizing: border-box;
  text-align: center;
}
.wrapper form input {
  display: inline-block;
  width: 80%;
  padding: 0 20px;
  line-height: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-bottom-width: 3px;
  border-radius: 5px;
  outline: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrapper form input:not(:last-child) {
  margin-bottom: 20px;
}
.wrapper form input[type="email"]:focus,
.wrapper form input[type="email"]:active,
.wrapper form input[type="password"]:focus,
.wrapper form input[type="password"]:active {
  border-color: #cccccc;
}
.wrapper form input[type="submit"] {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 20px;
  font-size: 1rem;
  background-color: #001529;
  background-size: 100%;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0)
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0)
  );
  background-size: 20px 20px, 100% 100%;
  border: 1px solid #001529;
  border-bottom-width: 3px;
  color: white;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.wrapper form input[type="submit"]:hover {
  background-size: 40px 40px;
}
.final__register-title {
  font-size: 1.5em;
  padding-bottom: 20px;
  margin: 0 0 20px;
  border-bottom: 1px dashed #e6e6e6;
}
.final__register-block {
  position: relative;
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 10vh auto;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.final__register-block:before,
.final__register-block:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-transform: scale(0.9) translate(0, 0);
  transform: scale(0.9) translate(0, 0);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.final__register-block:hover:before {
  z-index: -1;
  -webkit-transform: scale(0.96) translate(0, 16px);
  transform: scale(0.96) translate(0, 16px);
}
.final__register-block:hover:after {
  z-index: -2;
  -webkit-transform: scale(0.92) translate(0, 32px);
  transform: scale(0.92) translate(0, 32px);
}
